/*【アコーディオン】折り畳み表示*/
.body-accordion input {display: none;}
.body-accordion label {
  display: block;
	font-size: 1.6em;
	font-weight: bold;
	cursor: pointer;
	padding: 8px 0;
}
.body-accordion label::before {
  content: "＋ ";
	font-weight: bold;
}
.body-accordion input:checked + label::before {
  content: "－ ";
}
.body-accordion .content {
  max-width: 0;	/* 幅を閉じる */
	overflow: hidden;
	transition: max-width 0.5s ease;
	writing-mode: vertical-rl; /* 中身も縦書き */
}
.body-accordion input:checked ~ .content {
  max-width: 2000px;	/* 開いたときの幅 */
}
